.login
{
    text-align: center;
    width : 100%;
    height : 90%;
    margin : 0;
}

.login-id__form
{
    text-align: center;
    width : 40%;
    height : 15%;
    position : absolute;
    left : 30%;
    top : 20%;
}

.login-pw__form
{
    text-align: center;
    width : 40%;
    height : 15%;
    position : absolute;
    left : 30%;
    top : 40%;
}

.login-region__form
{
    text-align: center;
    width : 40%;
    height : 15%;
    position : absolute;
    left : 30%;
    top : 60%;
}

.login-button__form1
{  
    color : white;
    text-align: center;
    vertical-align: middle;
    width : 18%;
    height : 8%;
    position : absolute;
    left : 31%;
    top : 80%;
    background-color: rgb(50, 50, 109);
}

.login-button__form2
{
    color : white;
    text-align: center;
    width : 18%;
    height : 8%;
    position : absolute;
    left : 52%;
    top : 80%;
    background-color: rgb(50, 50, 109);
}
